<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/new_app/family/assets/img/favicon.ico">
    <title>Mediumish - A Medium style template by WowThemes.net</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/new_app/family/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/new_app/family/assets/css/mediumish.css" rel="stylesheet">

    <!-- To be Given in all templates inside header -->
    <!-- ------------------------------------------------------------------------------------ -->
    <link rel="icon" href="/assets/erpnext/images/erpnext-favicon.svg" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/assets/css/desk.min.css?ver=1639391047.0">
    <link type="text/css" rel="stylesheet" href="/assets/css/erpnext.css?ver=1639391047.0">
    <!-- ------------------------------------------------------------------------------------ -->


    <!-- ------------------------------------------------------------------------------------ -->
    <!-- Frappe source to be given in all web pages -->
    	<script>
    		window.frappe = {};
    		frappe.ready_events = [];
    		frappe.ready = function(fn) {
    			frappe.ready_events.push(fn);
    		}
    		window.dev_server = {{ dev_server }};
    		window.socketio_port = {{ (frappe.socketio_port or 'null') }};
    		window.show_language_picker = {{ show_language_picker }};
    		window.is_chat_enabled = {{ chat_enable }};
    	</script>
    <!-- ------------------------------------------------------------------------------------ -->
    <!-- To be Given in all templates inside header -->

</head>

{% block content %}

{% endblock %}

    <!-- Begin Footer
    ================================================== -->
    <div class="container">
    	<div class="footer">
    		<p class="pull-left">
    			 Copyright &copy; 2017 Your Website Name
    		</p>
    		<p class="pull-right">
    			 Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
    		</p>
    		<div class="clearfix">
    		</div>
    	</div>
    </div>
    <!-- End Footer
    ================================================== -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/family/detail.js"></script>
    <script src="/assets/new_app/family/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/assets/new_app/family/assets/js/bootstrap.min.js"></script>
    <script src="/assets/new_app/family/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/assets/new_app/family/assets/js/mediumish.js"></script>


    <!-- To be Given in all templates after footer -->
    <!-- ------------------------------------------------------------------------------------ -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
      <script src="/assets/new_app/family/assets/bootstrap/bootstrap.min.js"></script>
    	<!-- /bootstrap/bootstrap.min.js to be copied from the directory and to be given in websites if the bootstart is not compatible with frappe -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- ------------------------------------------------------------------------------------ -->


    <!-- ------------------------------------------------------------------------------------ -->
      <!-- Frappe Resources -->
    	<script type="text/javascript" src="/assets/js/desk.min.js?ver=1639391047.0"></script>
    	<script type="text/javascript" src="/assets/js/control.min.js?ver=1639391047.0"></script>
    	<script type="text/javascript" src="/assets/js/erpnext.min.js?ver=1639391047.0"></script>
      <!-- <script type="text/javascript" src="/assets/js/libs.min.js?ver=1639391047.0"></script> -->
    	<!-- <script type="text/javascript" src="/assets/js/list.min.js?ver=1639391047.0"></script> -->
    	<!-- <script type="text/javascript" src="/assets/js/form.min.js?ver=1639391047.0"></script> -->
    	<!-- Frappe Resources -->
    <!-- ------------------------------------------------------------------------------------ -->


    <!-- ------------------------------------------------------------------------------------ -->
    	<!-- CSRF Token for frappe call -->
      <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>
    	<!-- CSRF Token for frappe call -->
    <!-- ------------------------------------------------------------------------------------ -->
    <!-- To be Given in all templates after footer -->


</body>
</html>
