<!DOCTYPE html>
<!--
	Resto by GetTemplates.co
	URL: https://gettemplates.co
-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant</title>
    <meta name="description" content="Resto">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="/assets/new_app/food/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/new_app/food/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/new_app/food/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/new_app/food/css/style.min.css">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>



    <link type="text/css" rel="stylesheet" href="/assets/css/frappe-web-b4.css?ver=1639391047.0">
		<!-- <link type="text/css" rel="stylesheet" href="/assets/css/erpnext-web.css?ver=1639391047.0"> -->



    <link rel="icon" href="/assets/erpnext/images/erpnext-favicon.svg" type="image/x-icon">
		<link type="text/css" rel="stylesheet" href="/assets/css/desk.min.css?ver=1639391047.0">
    <link type="text/css" rel="stylesheet" href="/assets/css/erpnext.css?ver=1639391047.0">

    <!-- Frappe source to be given in all web pages -->
    <script>
  		window.frappe = {};
  		frappe.ready_events = [];
  		frappe.ready = function(fn) {
  			frappe.ready_events.push(fn);
  		}
  		window.dev_server = {{ dev_server }};
  		window.socketio_port = {{ (frappe.socketio_port or 'null') }};
  		window.show_language_picker = {{ show_language_picker }};
  		window.is_chat_enabled = {{ chat_enable }};
  	</script>
    <!-- Frappe source to be given in all web pages -->


</head>

{% block content %}

{%endblock%}

<!-- End of Reservation Section -->		<footer class="mastfoot pb-5 bg-white section-padding pb-0">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4">
         		<div class="footer-widget pr-lg-5 pr-0">
         			<img src="/assets/new_app/food/img/logo.png" class="img-fluid footer-logo mb-3" alt="">
	         		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et obcaecati quisquam id sit omnis explicabo voluptate aut placeat, soluta, nisi ea magni facere, itaque incidunt modi? Magni, et voluptatum dolorem.</p>
	         		<nav class="nav nav-mastfoot justify-content-start">
		                <a class="nav-link" href="#">
		                	<i class="fab fa-facebook-f"></i>
		                </a>
		                <a class="nav-link" href="#">
		                	<i class="fab fa-twitter"></i>
		                </a>
		                <a class="nav-link" href="#">
		                	<i class="fab fa-instagram"></i>
		                </a>
		            </nav>
         		</div>

         	</div>
         	<div class="col-lg-4">
         		<div class="footer-widget px-lg-5 px-0">
         			<h4>Open Hours</h4>
	         		<ul class="list-unstyled open-hours">
		                <li class="d-flex justify-content-between"><span>Monday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Tuesday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Wednesday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Thursday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Friday</span><span>9:00 - 02:00</span></li>
		                <li class="d-flex justify-content-between"><span>Saturday</span><span>9:00 - 02:00</span></li>
		                <li class="d-flex justify-content-between"><span>Sunday</span><span> Closed</span></li>
		              </ul>
         		</div>

         	</div>

         	<div class="col-lg-4">
         		<div class="footer-widget pl-lg-5 pl-0">
         			<h4>Newsletter</h4>
	         		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	         		<form id="newsletter">
						<div class="form-group">
							<input type="email" class="form-control" id="emailNewsletter" aria-describedby="emailNewsletter" placeholder="Enter email">
						</div>
						<button type="submit" class="btn btn-primary w-100">Submit</button>
					</form>
         		</div>

         	</div>
         	<div class="col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">Copyright 2019. All Right Reserved. Design by <a href="https://gettemplates.co" target="_blank">GetTemplates</a></p>
         	</div>

        </div>
    </div>
</footer>	</div>
</div>
	<!-- External JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="/assets/new_app/food/vendor/bootstrap/popper.min.js"></script>
	<script src="/assets/new_app/food/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="/assets/new_app/food/vendor/select2/select2.min.js "></script>
	<script src="/assets/new_app/food/vendor/owlcarousel/owl.carousel.min.js"></script>
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
	<script src="/assets/new_app/food/vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

	<!-- Main JS -->
	<script src="/assets/new_app/food/js/app.min.js "></script>
  <!-- Frappe Resources -->
    <!-- <script type="text/javascript" src="/assets/js/libs.min.js?ver=1639391047.0"></script> -->
		<script type="text/javascript" src="/assets/js/desk.min.js?ver=1639391047.0"></script>
		<!-- <script type="text/javascript" src="/assets/js/list.min.js?ver=1639391047.0"></script> -->
		<!-- <script type="text/javascript" src="/assets/js/form.min.js?ver=1639391047.0"></script> -->
		<script type="text/javascript" src="/assets/js/control.min.js?ver=1639391047.0"></script>
		<script type="text/javascript" src="/assets/js/erpnext.min.js?ver=1639391047.0"></script>
		<!-- Frappe Resources -->
    <script type="text/javascript" src="index.js"></script>

    <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>


</body>
</html>
