
<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

		<!-- <div class="row">
			<div class="col-xl-6 col-xxl-5 d-flex"> -->
				<div class="w-100">
					<div class="row">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<a href="/partnership">
												<h5 class="card-title">Partnership</h5>
											</a>


										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="truck"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">Manage your partnership
										registrations</h1>
									<div class="mb-0">
										<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 1 </span>
										<span class="text-muted">Approved</span>
									</div>
									<div class="mb-0">
										<span class="text-primary"> <i class="mdi mdi-arrow-bottom-right"></i> 1 </span>
										<span class="text-muted">Pending</span>
									</div>
									<div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
										<span class="text-muted">Rejected</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">LLP</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="users"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">Manage your LLP registrations</h1>
									<div class="mb-0">
										<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
										<span class="text-muted">Approved</span>
									</div>
									<div class="mb-0">
										<span class="text-primary"> <i class="mdi mdi-arrow-bottom-right"></i> 1 </span>
										<span class="text-muted">Pending</span>
									</div>
									<div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
										<span class="text-muted">Rejected</span>
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">OPC</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="dollar-sign"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">Manage your OPC
										registrations</h1>
										<div class="mb-0">
											<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">Approved</span>
										</div>
										<div class="mb-0">
											<span class="text-primary"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">Pending</span>
										</div>
										<div class="mb-0">
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">Rejected</span>
										</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Private Limited Co.</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-cart"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">Manage your private limited
										company registrations</h1>
										<div class="mb-0">
											<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">Approved</span>
										</div>
										<div class="mb-0">
											<span class="text-primary"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">Pending</span>
										</div>
										<div class="mb-0">
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">Rejected</span>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
