<!DOCTYPE html>
<html lang="en">

<head>
	<title>BitsLEDGER</title>
	<!-- <link href="/assets/bitsledger/bitsledger/css/app.css" rel="stylesheet"> -->
</head>

<body>
	<div class="wrapper">
		<div class="main">
			<div class="container-fluid p-0">
				<div class="row">
					<div class="col-12 col-lg-12 col-xxl-12 d-flex">
						<div class="card flex-fill">
							<div class="card-header">
								{% if user == 'Guest' %}
								<h5 class="card-title mb-0"> Hi {{user}}</h5>
								{% else %}
								<h5 class="card-title mb-0">{{user}}</h5>
								<a class="btn btn-primary" href="/partnership?new=1" role="button" style="float: right;">New</a>
								{% endif %}
							</div>

							<table class="table table-hover my-0">
								<thead>
									<tr>
										<th>Name</th>
										<th class="d-none d-xl-table-cell">Start Date</th>
										<th class="d-none d-xl-table-cell">End Date</th>
										<th>Status</th>
										<th class="d-none d-md-table-cell">Assignee</th>
									</tr>
								</thead>

								<tbody>
									{% for i in user_data %}
									<tr>
										<td><a href="/partnership?name={{i.name}}">{{i.name}}</a></td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-success">Done</span></td>
										<td class="d-none d-md-table-cell">Vanessa Tucker</td>
									</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>

				</div>

			</div>

</div>
		<!-- </div> -->
	</div>



</html>
