<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/img/favicon.ico"> -->
<title>Family</title>

<link
		rel="shortcut icon"
		href="/assets/erpnext/images/erpnext-favicon.svg"
		type="image/x-icon"
	>
<link type="text/css" rel="stylesheet" href="/assets/css/frappe-web-b4.css?ver=1639391047.0">
<!-- Bootstrap core CSS -->
<link href="/assets/new_app/family/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/assets/new_app/family/assets/css/mediumish.css" rel="stylesheet">






	<!-- To be Given in all templates inside header -->
	<!-- ------------------------------------------------------------------------------------ -->
	<!-- <link rel="icon" href="/assets/erpnext/images/erpnext-favicon.svg" type="image/x-icon"> -->
	<!-- <link type="text/css" rel="stylesheet" href="/assets/css/desk.min.css?ver=1639391047.0"> -->
	<!-- <link type="text/css" rel="stylesheet" href="/assets/css//erpnext.css?ver=1639391047.0"> -->
	<!-- ------------------------------------------------------------------------------------ -->
	<!-- Frappe source to be given in all web pages -->
	<script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
		window.socketio_port = {{ (frappe.socketio_port or 'null') }};
		window.show_language_picker = {{ show_language_picker }};
		window.is_chat_enabled = {{ chat_enable }};
	</script>
<!-- ------------------------------------------------------------------------------------ -->
<!-- To be Given in all templates inside header -->


</head>
<body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} class="{{ body_class or ''}}">

	<nav class="navbar navbar-light navbar-expand-lg">
	<div class="container">
	<a class="navbar-brand" href="/">abcd</a>
	<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
	<span>
	<svg class="icon icon-lg">
	<use href="#icon-menu"></use>
	</svg>
	</span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="mr-auto navbar-nav">
	<li class="nav-item">
	<a class="nav-link" href="/contact">
			Contact
		</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="/blog">
			Blog
		</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="/all-products">
			Products
		</a>
	</li>
	</ul>
	<ul class="ml-auto navbar-nav">
	<li class="shopping-cart cart-icon hidden">
	<a class="nav-link" href="/cart">
	<svg class="icon icon-lg">
	<use href="#icon-assets"></use>
	</svg>
	<span class="badge badge-primary shopping-badge" id="cart-count"></span>
	</a>
	</li>
	<!-- post login tools -->
	<li class="nav-item dropdown logged-in" data-label="website-post-login" id="website-post-login" style="display: none">
	<a class="nav-link nav-avatar" data-toggle="dropdown" href="#">
	<span class="user-image-wrapper"></span>
	</a>
	<ul class="dropdown-menu dropdown-menu-right" role="menu"><a class="dropdown-item" href="/me" rel="nofollow">
					My Account
				</a><a class="dropdown-item" href="/?cmd=web_logout" rel="nofollow">
					Logout
				</a><a class="dropdown-item switch-to-desk hidden" href="/app">Switch To Desk</a>
	</ul>
	</li>
	<li class="nav-item">
	<a class="nav-link btn-login-area" href="/login">Login</a>
	</li>
	</ul>
	</div>
	<div class="form-group mb-0 hide" id="language-switcher">
	<select class="form-control"></select>
	</div>
	</div>
	</nav>




<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="/family/index.html">
		<h3>Family</h3>
	<!-- <img scr="/assets/new_app/family/assets/img/logo.png" alt="logo"> -->
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			<a class="nav-link" href="index.html">Stories <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="post.html">Post</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="author.html">Author</a>
			</li>
		</ul>
		<!-- End Menu -->
		<!-- Begin Search -->
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
		</form>
		<!-- End Search -->
	</div>
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Family</h1>
		<p class="lead">
			 Family member's details
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Kalapurakal</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		{% for i in demo_list %}
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="post.html">
						<div class="thumbnail" style="background-image:url(/assets/new_app/family/assets/img/demopic/1.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="/family/detail/{{i.name}}">{{i.name}}</a></h2>
						<h4 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="author.html">Steve</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
								</span>
								<span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<!-- end post -->
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->
	<!--  -->
	<!-- End List Posts
	================================================== -->

	<!-- Begin Footer
	================================================== -->
	<footer>
		<div>
		<p class="pull-left">
			 Copyright &copy; 2017 Your Website Name
		</p>
		<p class="pull-right">
			 Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
</footer>
	<!-- End Footer
	================================================== -->

<script scr="/assets/new_app/family/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script scr="/assets/new_app/family/assets/js/bootstrap.min.js"></script>
<script scr="/assets/new_app/family/assets/js/ie10-viewport-bug-workaround.js"></script>


<!-- To be Given in all templates after footer -->
<!-- ------------------------------------------------------------------------------------ -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="/assets/new_app/family/assets/bootstrap/bootstrap.min.js"></script>
	<!-- /bootstrap/bootstrap.min.js to be copied from the directory and to be given in websites if the bootstart is not compatible with frappe -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- ------------------------------------------------------------------------------------ -->


<!-- ------------------------------------------------------------------------------------ -->
  <!-- Frappe Resources -->
	<script type="text/javascript" src="/assets/js/desk.min.js?ver=1639391047.0"></script>
	<script type="text/javascript" src="/assets/js/control.min.js?ver=1639391047.0"></script>
	<script type="text/javascript" src="/assets/js/erpnext.min.js?ver=1639391047.0"></script>
  <!-- <script type="text/javascript" src="/assets/js/libs.min.js?ver=1639391047.0"></script>
	<script type="text/javascript" src="/assets/js/list.min.js?ver=1639391047.0"></script>
	<script type="text/javascript" src="/assets/js/form.min.js?ver=1639391047.0"></script> -->
	<!-- Frappe Resources -->
<!-- ------------------------------------------------------------------------------------ -->


<!-- ------------------------------------------------------------------------------------ -->
	<!-- CSRF Token for frappe call -->
  <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>
	<!-- CSRF Token for frappe call -->
<!-- ------------------------------------------------------------------------------------ -->
<!-- To be Given in all templates after footer -->

</body>
</html>
